.storybook-textarea {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
  }
  .storybook-textarea--small {
    font-size: 12px;
    height: 60px;
  }
  .storybook-textarea--medium {
    font-size: 14px;
    height: 100px;
  }
  .storybook-textarea--large {
    font-size: 16px;
    height: 140px;
  }
  .storybook-textarea--success {
    border-color: #28a745;
  }
  .storybook-textarea--danger {
    border-color: #dc3545;
  }
  .storybook-textarea--warning {
    border-color: #ffc107;
  }
  .storybook-textarea--info {
    border-color: #17a2b8;
  }
  