.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 420px; 
  height: 44px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  /* padding: 10px;  */
  height: 100%;
}

.search-bar .search-icon {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px; 
  display: flex;
  align-items: center;
  height: 100%; 
}
